# Paste your MongoDB Atlas connection string here.
MONGODB_URI=mongodb+srv://samuelfernandes10001_db_user:S3GQlwpqPVMp7th6@cluster0.2yveg39.mongodb.net/?appName=Cluster0
MONGODB_DB=student_management
PORT=3001